.nametag {
  --fieldset-border-color: var(--color-border-darker);
  --nametag-padding: var(--block-space-double);
  --nametag-border-size: 1px;

  background-color: var(--color-message-bg);
  border-radius: var(--fieldset-border-radius, 1em);
  border: var(--nametag-border-size) solid var(--fieldset-border-color);
  box-shadow: 0 0 1em oklch(var(--lch-black) / 0.2);
  margin-block-end: var(--block-space);
  margin-block-start: 18ex;
  margin-inline: auto;
  max-inline-size: calc(100dvw - (var(--inline-space) * 2));
  overflow: unset;
  padding: var(--nametag-padding);

  @media (max-width: 100ch) {
    --nametag-padding: calc(var(--block-space) * 1.5);
    margin-block-start: max(12ex, calc(var(--navbar-height) + var(--block-space)));
  }
}

.nametag__inner {
  --avatar-size: 4ch;
  --nametag-inner-padding: var(--block-space);

  background-color: var(--color-bg);
  border-radius: 0.8em;
  border: var(--nametag-border-size) solid var(--fieldset-border-color);
  inline-size: min(42ch, 100%);
  max-inline-size: 100%;
  padding: var(--nametag-inner-padding);

  legend {
    padding-inline: 0.8em;
  }
}

.nametag__lanyard {
  block-size: auto;
  display: block;
  inline-size: 20ex;
  max-inline-size: min(20ex, 50vw);
  inset-block-start: -4.5ex;
  position: absolute;
}

/* Unuspported browser */
.browser-list img {
  aspect-ratio: 1;
  block-size: auto;
  inline-size: 7ch;
}

.browser {
  flex: 1 1 10ch;
  max-inline-size: 12ch;
}

.signup {
  .skip-navigation {
    display: none;
  }
}
